---
layout: default
---

<div class="homeIntroBlock">
    <div class="homeIntroBlockInner">
        {% for post in site.categories["homeheader"] limit:1 %}
            <div class="homeOrnaments">
                <span class="ornament hat"></span>
                <div class="introTitle">{{ post.title }}</div>
                <span class="ornament swirl"></span>
            </div>
            <h1 class="introHeadline">{{ post.subtitle }}</h1>
        {% endfor %}
    </div>
</div>

<div class="contentWrapper">
    <div class="contentWrapperInner clearfix">

        {% for post in site.categories["homeinfo"] limit:1 %}
            <article class="homeContentBlock half">
                <h2>{{ post.title }}</h2>
                <h3>{{ post.subtitle }}</h3>
                <div class="columnedBlock">
                    {{ post.content }}
                </div>
            </article>
        {% endfor %}
        
        {% include featuredwork.html %}

        {% include featuredworks.html %}

        {% include featuredquotes.html %}

    </div>
</div>