{% for post in site.categories["work"] limit:1 %}
    {% if post.featured == true %}
        <article class="contentBlock workExample half right">
            <a href="{{ site.url }}{{ post.url }}">
                <div class="contentImage" style="background-image:url('{{ site.url }}assets/images/workImages/{{ post.heroimg }}');">
                    <div class="contentImageMask"></div>
                </div>

                <div class="contentCaption">
                    <h2>{{ post.client }}</h2>
                    <h3>{{ post.subheading }}</h3>
                    <p>{{ post.minidescription }}</p>
                </div>
            </a>
        </article>
    {% endif %}
{% endfor %}