{% assign featuredPostCount = 0 %}

{% for post in site.categories["work"] offset:1 limit:4 %}
    {% if post.featured == true %}

            <article class="contentBlock workExample trio {% if featuredPostCount == 0 %}left{% endif %} {% if featuredPostCount == 2 %}right{% endif %}">
                <a href="{{ post.url }}">
                    <div class="contentImage" style="background-image:url('{{ site.url }}assets/images/workImages/{{ post.heroimg }}');">
                        <div class="contentImageMask"></div>
                    </div>

                    <div class="contentCaption">
                        <h2>{{ post.client }}</h2>
                        <h3>{{ post.subheading }}</h3>
                        <p>{{ post.minidescription }}</p>
                    </div>
                </a>
            </article>

            {% assign featuredPostCount = featuredPostCount | plus:1 %}

    {% endif %}
{% endfor %}