</div>
<footer>

	<div class="footerInner clearfix">
		
		<ul class="footerSocialLinks quart socialLinks clearfix">
			{% for socialLink in site.socialLinks %}
                <li class="socialLink">
                    <a href="{{ socialLink.url }}" class="{{ socialLink.icon }}">
                        <span class="visuallyhidden">{{ socialLink.name }}</span>
                        <svg class="icon {{ socialLink.icon }}">
                            <use xlink:href="#{{ socialLink.icon }}"/>
                        </svg>
                    </a>
                </li>
            {% endfor %}
		</ul>

		<div class="quart footerBlock">
			<h3>Lost?</h3>
			<ul class="footerNav clearfix">
				{% for link in site.navigation %}
					<li>
					  <a href="{{ site.url }}{{ link.url }}">{{ link.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="quart footerBlock">
			<h3>Pop in &amp; see us!</h3>
			{% for line in site.dwmAddress %}
				<span class="addressLine">{{ line.addressLine }}</span>
			{% endfor %}
		</div>

		<div class="quart footerBlock last">
			<h3>Any Questions?</h3>
			<span class="footerLink">Call us on <a href="tel:{{ site.dwmTelLink }}">{{ site.dwmTel }}</a></span>
			<span class="footerLink">Email us at <a href="{{ site.dwmEmail }}">{{ site.dwmEmail }}</a></span>
		</div>

	</div>

	<div class="footerStrip">
		<div class="footerStripInner clearfix">
			<span class="registered">Registered in England and Wales 08649718</span>
			<span class="footerLogo"><span class="visuallyhidden">DWM</span></span>
			<span class="copyright">&copy; 2015 Digital Web Media Ltd</span>
		</div>
	</div>

  {% include foot.html %}

</footer>
