{% include head.html %}

<header class="siteHeader contentWrapper dark">
	<div class="contentWrapperInner clearfix">

		<div class="navLogo">
			<span>{{ site.title }}</span>
		</div>

		<ul class="headerNav clearfix">
			{% assign url = page.url|remove:'index.html' %}
			{% for link in site.navigation %}
				{% capture linkURL %}/{{ link.url }}{% endcapture %}
				<li {% if url == linkURL %}class="current"{% endif %}>
				  <a href="{{ site.url }}{{ link.url }}">{{ link.text }}</a>
				</li>
			{% endfor %}
		</ul>

	</div>
</header>
