{% include head.html %}

<header class="siteHeader">
    <div class="siteHeaderInner clearfix">

        <ul class="headerSocialLinks socialLinks clearfix">
            {% for socialLink in site.socialLinks %}
                <li class="socialLink">
                    <a href="{{ socialLink.url }}" class="{{ socialLink.icon }}">
                        <span class="visuallyhidden">{{ socialLink.name }}</span>
                        <svg class="icon {{ socialLink.icon }}">
                            <use xlink:href="#{{ socialLink.icon }}"/>
                        </svg>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <ul class="headerNav clearfix">
            {% assign url = page.url|remove:'index.html' %}
            {% for link in site.navigation %}
                {% capture linkURL %}/{{ link.url }}{% endcapture %}
                <li {% if url == linkURL %}class="current"{% endif %}>
                  <a href="{{ site.url }}{{ link.url }}">{{ link.text }}</a>
                </li>
            {% endfor %}
        </ul>

        <a class="navLogo">
            <span>{{ site.title }}</span>
        </a>

        <button class="mobileNavToggle"><span class="navicon"></span><span class="visuallyhidden">Menu</span></button>

    </div>

    <ul class="mobileNav clearfix">
        {% assign url = page.url|remove:'index.html' %}
        {% for link in site.navigation %}
            {% capture linkURL %}/{{ link.url }}{% endcapture %}
            <li {% if url == linkURL %}class="current"{% endif %}>
              <a href="{{ site.url }}{{ link.url }}">{{ link.text }}</a>
            </li>
        {% endfor %}
    </ul>
</header>
