html{
  background:$cream;
  color:$dark;
  font-family:$text;
  line-height:1.6;
  min-height:101%;
  background:$blue;
}
body{
  min-height:100%;
  background:$cream;
}

h1{font-size:3em;}
h2{font-size:2em;}
h3{font-size:1.6em;}
h4{font-size:1.4em;}
h5,h6{font-size:1em;}
h1,h2,h3,h4,h5,h5{
  padding-top:3em;
  padding-top:3rem;
  padding-bottom:1em;
  padding-bottom:1rem;
  // font-style:italic;
  text-align:center;
  font-family:$display;
  font-weight:700;
  font-style:italic;
}

a{
  color:inherit;
  transition:color;
  transition-duration:.2s;
  &:hover{color:$orange;}
}

p{
  padding-bottom:1em;
}
li{
  list-style:none;
}


em{font-style:italic;}
strong{font-weight:900;}

.button{
  @extend %buttonReset;
  @extend %button;
  color:$white;
  margin-bottom:1em;
}

code{
  display:inline-block;
  padding:0em .2em;
  font-size:1em;
  background:$grey;
  color:darken($blue,20%);
  font-family:$code;
}