%mainWrap{
    width:90%;
    max-width:60em;
    margin:0 auto;
    // padding:4em 0;
}


// --- //


.globalWrapper{
    padding:1em 1em 0 1em;
}

.contentWrapper{
    // @extend %mainWrap;
    max-width:70em;
    margin:0 auto;
    font-size:.8em;
    // background:$yellow;
}

.half{
    width:49%;
    float:left;
    &.right{
        float:right;
    }
    @include bp(d2){
        width:100%;
        float:none;
    }
}

.trio{
    width:32%;
    margin-right:2%;
    float:left;
    // &:nth-of-type(1){
    //     background:$red;
    //     clear:both;
    // }
    &.left{
        clear:both;
    }
    &.right{
        margin-right:0;
    }
    @include bp(d2){
        width:100%;
        float:none;
    }
}

.quart{
    width:24%;
    margin-right:1%;
    float:left;
    &.last{
    	margin-right:0;
    }
    @include bp(d2){
        width:49%;
        margin-bottom:2em;
    }
    @include bp(d3){
        width:100%;
        margin-right:0;
    }
}

.columnedBlock{
    column-count:2;
    column-width:10em;
}