.contentWrapper.siteHeader .contentWrapperInner{
  padding:0;
  font-family:$display;
}

.siteHeader .navLogo{
  width:6em;
  // float:left;
}

.siteHeader ul{
  display:block;
  width:100%;
  // text-align:center;
  padding:0;
  li{
    display:inline;
    // min-width:4em;
    text-align:left;
    margin-bottom:0;
    margin-left:0;
    padding-left:0;
    margin-right:2em;
    font-style:normal;
    list-style:none;
    border-left:0;
    float:none;
    &.current{
      font-weight:$bold;
      text-transform:uppercase;
    }
  }
}