.ornament{
    display:block;
    width:8em;
    height:1.5em;
    // background:$yellow;
    margin:0 auto;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

.ornament.hat{
    background-image:url('../images/dwmHat_black.png');
    background-image:url('../images/dwmHat_black.svg');
}

.ornament.swirl{
    background-image:url('../images/swirl.png');
    background-image:url('../images/swirl.svg');
    height:1em;
    position:relative;
    &:before,&:after{
        display:block;
        content:"";
        background:$black;
        position:absolute;
        height:2px;
        width:1.8em;
        top:50%;
        margin-top:-1px;
    }
    &:after{right:0;}
}