html{
  background:$cream;
  color:$dark;
  font-family:$text;
  line-height:1.6;
}

.contentWrapperInner{
  width:90%;
  max-width:40em;
  margin:0 auto;
  padding:4em 0;
}
.contentWrapper{
  padding:1em;
  &.dark{
    background:$blue;
    color:$cream;
    a{
      color:$white;
      box-shadow:
        inset $blue 0 1.3em 0,
        inset $dark 0 1.3em 0,
        inset $linkUnderline 0 1.4em 0;
      &:hover{
        color:$white;
        box-shadow:
          inset $blue 0 .1em 0,
          inset $dark 0 1.3em 0,
          inset $linkUnderline 0 1.4em 0;
      }
      &:active{
        color:$cream;
        box-shadow:
          inset $blue 0 .1em 0,
          inset $dark 0 1.4em 0;
      }
      &:focus{
        box-shadow:
          inset $blue 0 .1em 0,
          inset $dark 0 1.3em 0,
          inset $linkUnderline 0 1.4em 0,
          $orange 0 0 0 .2em;
      }
    }
  }
}

.contentWrapper.siteHeader{
  // padding:0;
  .contentWrapperInner{
    padding:0;
    li{
      display:block;
      min-width:4em;
      margin-bottom:0;
      margin-left:0;
      padding-left:0;
      margin-right:2em;
      font-style:italic;
      list-style:none;
      border-left:0;
      float:left;
      &.current{
        font-weight:$bold;
        text-transform:uppercase;
      }
    }
  }
}


em{font-style:italic;}
strong{font-weight:900;}

button{
  @extend %buttonReset;
  @extend %button;
  color:$white;
  margin-bottom:1em;
}

code{
  display:inline-block;
  padding:0em .2em;
  font-size:1em;
  background:$grey;
  color:darken($blue,20%);
  font-family:$code;
}