%mainWrap{
    width:90%;
    max-width:60em;
    margin:0 auto;
    // padding:4em 0;
}


// --- //


.globalWrapper{
    padding:1em 1em 0 1em;
}

.contentWrapper{
    // @extend %mainWrap;
    max-width:70em;
    margin:0 auto;
    font-size:.8em;
    // background:$yellow;
}

.full{
    width:100%;
    clear:both;
}

.left{
    clear:both;
}
.half{
    width:49%;
    float:left;
    margin-right:1%;
    &.right{
        float:right;
        margin-right:0;
    }
    @include bp(d2){
        width:100%;
        float:none;
    }
}

.trio{
    width:32%;
    margin-right:2%;
    float:left;
    &.right{
        margin-right:0;
    }
    @include bp(d2){
        width:100%;
        float:none;
    }
}

.quart{
    width:24%;
    margin-right:1%;
    float:left;
    &.last{
    	margin-right:0;
    }
    @include bp(d2){
        width:49%;
        margin-bottom:2em;
    }
    @include bp(d3){
        width:100%;
        margin-right:0;
    }
    &.dualSidebar{
        @include bp(d2){
            width:100%;
        }
    }
}

.sidebarBlock{
    @include bp(d2){
        width:48%;
        float:left;
        &:nth-of-type(2n){float:right;}
        &:nth-of-type(2n+1){clear:both;}
    }
}

.columnedBlock{
    column-count:2;
    column-width:10em;
}