html{
  background:$dark;
  color:$dark;
  font-family:$text;
  line-height:1.6;
  min-height:101%;
}
body{
  min-width:300px;
  min-height:100%;
  background:$white;
}

h1{font-size:3em;}
h2{font-size:2em;}
h3{font-size:1.6em;}
h4{font-size:1.4em;}
h5,h6{font-size:1em;}
h1,h2,h3,h4,h5,h5{
  // padding-top:3em;
  // padding-top:3rem;
  // padding-bottom:1em;
  // padding-bottom:1rem;
  // // font-style:italic;
  // text-align:center;
  font-family:$display;
  // font-weight:700;
  font-style:italic;
  line-height:1.2;
  transition:color,border;
  // transition-duration:.3s;
}

h2{
  font-family:$brand;
  font-style:normal;
  border-bottom:.1em solid $black;
  display:inline-block;
  line-height:1;
}

a{
  color:inherit;
  transition:color,border;
  // transition-duration:.3s;
  &:hover{color:$highlight;}
}

p{
  padding-bottom:1em;
  transition:color;
  // transition-duration:.3s;
}
li{
  list-style:none;
}


em{font-style:italic;}
strong{font-weight:900;}

blockquote{
  padding-bottom:2em;
  position:relative;
  &:before,&:after{
    font-family:$display;
    font-style:italic;
    line-height:1rem;
    font-size:3em;
    position:relative;
  }
  &:before{
    content:"“";
    padding-right:.5em;
    top:.5em;
  }
  &:after{
    content:"”";
    position:absolute;
    bottom:0;
    right:0;
  }
}

.button{
  @extend %buttonReset;
  @extend %button;
  color:$white;
  margin-bottom:1em;
}

code{
  display:inline-block;
  padding:0em .2em;
  font-size:1em;
  background:$grey;
  color:darken($blue,20%);
  font-family:$code;
}