.socialLink{
    float:left;
    margin-right:1em;
    height:2em;
    // background:$yellow;
    a{
        display:block;
        line-height:1;
        // height:1.2em;
        cursor:pointer;
        padding-top:.5em;
        border-bottom:.2em solid $black;
        .icon{
            width:1em;
            height:1em;
            fill:$black;
        }
        &:hover{
            border-bottom-color:$highlight;
            .icon{fill:$highlight;}
        }
    }
}