::-moz-selection {
  color: #f9fdfc;
  background: #000000; }

::selection {
  color: #f9fdfc;
  background: #000000; }

a::-moz-selection {
  color: #000000;
  background: #f9fdfc; }

a::selection {
  color: #000000;
  background: #f9fdfc; }

@font-face {
  font-family: 'iconFont';
  src: url('../fonts/icons/icons.eot');
  src: url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons/icons.woff') format('woff'), url('../fonts/icons/icons.ttf') format('truetype'), url('../fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/bebasneue/BebasNeue.eot');
  src: url('../fonts/bebasneue/BebasNeue.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue/BebasNeue.woff') format('woff'), url('../fonts/bebasneue/BebasNeue.ttf') format('truetype'), url('../fonts/bebasneue/BebasNeue.svg#BebasNeue') format('svg');
  font-weight: normal;
  font-style: normal; }

/*
font-family:'BaskervilleMTW01-Roman';
font-family:'Baskerville MT W01 It';
font-family:'Baskerville MT W01 SmBd';
font-family:'BaskervilleMTW01-SmBdIt';
font-family:'Baskerville MT W01 Bd';
font-family:'BaskervilleMTW01-BdIt';
font-family:'P22UndergroundW01-Mediu';
*/
.contentBlock a:before, .quoteBlock .contentImage:before, .clearfix:before, .contentBlock a:after, .quoteBlock .contentImage:after, .clearfix:after {
  content: ' ';
  display: table; }

.contentBlock a:after, .quoteBlock .contentImage:after, .clearfix:after {
  clear: both; }

.contentBlock a, .quoteBlock .contentImage, .clearfix {
  zoom: 1; }

.quoteBlock .contentImage .contentImageSmall, .quoteBlock .clientLogo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.button, .mobileNavToggle {
  display: block;
  background: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 1em;
  line-height: inherit;
  padding: 0;
  margin: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: inherit; }

.button {
  background: #bce3e0;
  color: #000000;
  padding: 0.5em 1em;
  border-radius: 2px;
  font-weight: 300;
  line-height: 1;
  font-size: 1.4em;
  text-align: center;
  -webkit-transition: background;
          transition: background;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  letter-spacing: 0.1em; }
  .button:hover {
    background: #98d4cf; }
  .button:active {
    background: #74c5be; }
  .button:focus {
    outline: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 100%; }

html {
  background: #000000;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  min-height: 101%; }

body {
  min-width: 300px;
  min-height: 100%;
  background: #f9fdfc; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5, h6 {
  font-size: 1em; }

h1, h2, h3, h4, h5, h5 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  line-height: 1.2;
  -webkit-transition: color, border;
          transition: color, border; }

h2 {
  font-family: 'BebasNeue', 'Raleway', sans-serif;
  font-style: normal;
  border-bottom: 0.1em solid #000000;
  display: inline-block;
  line-height: 1; }

a {
  color: inherit;
  -webkit-transition: color, border;
          transition: color, border; }
  a:hover {
    color: #bce3e0; }

p {
  padding-bottom: 1em;
  -webkit-transition: color;
          transition: color; }

li {
  list-style: none; }

em {
  font-style: italic; }

strong {
  font-weight: 900; }

blockquote {
  padding-bottom: 2em;
  position: relative; }
  blockquote:before, blockquote:after {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    line-height: 1rem;
    font-size: 3em;
    position: relative; }
  blockquote:before {
    content: "“";
    padding-right: 0.5em;
    top: 0.5em; }
  blockquote:after {
    content: "”";
    position: absolute;
    bottom: 0;
    right: 0; }

.button {
  color: #f9fdfc;
  margin-bottom: 1em; }

code {
  display: inline-block;
  padding: 0em 0.2em;
  font-size: 1em;
  background: #ecefee;
  color: #74c5be;
  font-family: monospace; }

input, textarea {
  width: 100%;
  max-width: 100%;
  font-size: 1em;
  border: 0;
  padding: 1em;
  margin-bottom: 1em;
  font-family: 'Raleway', sans-serif;
  background: #e5f4f2;
  color: #000000; }
  input:focus, textarea:focus {
    outline: none;
    -webkit-box-shadow: inset #bce3e0 0 0 0 0.2em;
            box-shadow: inset #bce3e0 0 0 0 0.2em; }

.homeIntroBlockInner, .footerInner, .footerStripInner {
  width: 90%;
  max-width: 60em;
  margin: 0 auto; }

.globalWrapper {
  padding: 1em 1em 0 1em; }

.contentWrapper {
  max-width: 70em;
  margin: 0 auto;
  font-size: 0.8em; }

.full {
  width: 100%; }

.left {
  clear: both; }

.half {
  width: 49%;
  float: left;
  margin-right: 1%; }
  .half.right {
    float: right;
    margin-right: 0; }
  @media (max-width: 750px) {
    .half {
      width: 100%;
      float: none; } }

.trio {
  width: 32%;
  margin-right: 2%;
  float: left; }
  .trio.right {
    margin-right: 0; }
  @media (max-width: 750px) {
    .trio {
      width: 100%;
      float: none; } }

.quart {
  width: 24%;
  margin-right: 1%;
  float: left; }
  .quart.last {
    margin-right: 0; }
  @media (max-width: 750px) {
    .quart {
      width: 49%;
      margin-bottom: 2em; } }
  @media (max-width: 400px) {
    .quart {
      width: 100%;
      margin-right: 0; } }

.columnedBlock {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: 10em;
     -moz-column-width: 10em;
          column-width: 10em; }

.mobileNavToggle {
  outline: none;
  width: 1.8em;
  height: 1em;
  float: left;
  margin-top: 0.5em;
  display: none;
  position: relative; }
  @media (max-width: 750px) {
    .mobileNavToggle {
      display: block; } }

.navicon {
  position: absolute;
  width: 1.8em;
  height: 4px;
  top: 50%;
  margin-top: -2px;
  display: block;
  background: #000000; }
  .navicon:after, .navicon:before {
    -webkit-transition: -webkit-transform, top, bottom;
            transition: transform, top, bottom;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    content: "";
    display: block;
    position: absolute;
    width: 1.8em;
    height: 4px;
    background: #000000; }
  .navicon:before {
    top: -0.5em; }
  .navicon:after {
    bottom: -0.5em; }
  .navicon.open {
    background: none; }

.mobileNavToggle.open .navicon {
  background: none; }
  .mobileNavToggle.open .navicon:before, .mobileNavToggle.open .navicon:after {
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    width: 1.5em; }
  .mobileNavToggle.open .navicon:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
    margin-top: -2px; }
  .mobileNavToggle.open .navicon:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 50%;
    margin-bottom: -2px; }

.mobileNav {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: max-height;
          transition: max-height;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }
  .mobileNav.open {
    max-height: 100em; }
  .mobileNav li {
    width: 100%;
    margin: 0;
    padding: 1em;
    text-align: center; }

.socialLink {
  float: left;
  margin-right: 1em;
  height: 2em; }
  .socialLink a {
    display: block;
    line-height: 1;
    cursor: pointer;
    padding-top: 0.5em;
    border-bottom: 0.2em solid #000000; }
    .socialLink a:hover {
      border-bottom-color: #bce3e0; }
    .socialLink a:before {
      font-family: 'iconFont'; }
    .socialLink a.twitter:before {
      content: "\e004"; }
    .socialLink a.facebook:before {
      content: "\e001"; }
    .socialLink a.linkedIn:before {
      content: "\e003"; }
    .socialLink a.googlePlus:before {
      content: "\e002"; }

.homeIntroBlock {
  background: #e5f4f2; }

.homeIntroBlockInner {
  text-align: center;
  padding: 6em 0;
  margin-bottom: -3em; }
  @media (max-width: 750px) {
    .homeIntroBlockInner {
      padding: 2em 1em;
      margin-bottom: 1em; } }

.introTitle {
  font-family: 'BebasNeue', 'Raleway', sans-serif;
  font-size: 1.5em; }

.homeOrnaments {
  font-size: 1.5em; }

.introHeadline {
  font-size: 2.5em;
  line-height: 1.3em;
  padding: 1em; }
  @media (max-width: 750px) {
    .introHeadline {
      font-size: 1.5em;
      padding: 2em 0 0 0; } }

.ornament {
  display: block;
  width: 8em;
  height: 1.5em;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.ornament.hat {
  background-image: url('../images/dwmHat_black.png');
  background-image: url('../images/dwmHat_black.svg'); }

.ornament.swirl {
  background-image: url('../images/swirl.png');
  background-image: url('../images/swirl.svg');
  height: 1em;
  position: relative; }
  .ornament.swirl:before, .ornament.swirl:after {
    display: block;
    content: "";
    background: #000000;
    position: absolute;
    height: 2px;
    width: 1.8em;
    top: 50%;
    margin-top: -1px; }
  .ornament.swirl:after {
    right: 0; }

.contentBlock {
  margin-bottom: 1em; }
  .contentBlock h3 {
    color: #94d1cc;
    font-weight: light;
    -webkit-column-span: all;
       -moz-column-span: all;
            column-span: all; }
  .contentBlock a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: background;
            transition: background;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }

.homeContentBlock {
  background: #dcf0ed;
  padding: 2em 3em;
  margin-bottom: 1em; }
  .homeContentBlock h3 {
    padding: 0.5em 0 2em 0; }
  @media (max-width: 750px) {
    .homeContentBlock {
      margin-bottom: 1em;
      padding: 2em 1em; } }

.contentImage {
  width: 100%;
  padding-bottom: 60%;
  background: #ecefee;
  margin-bottom: 1em;
  background-image: url('../images/placeholder.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }

.trio .contentImage {
  padding-bottom: 100%; }

.contentImageMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(188, 227, 224, 0.8);
  opacity: 0;
  -webkit-transition: opacity;
          transition: opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 4; }
  .contentImageMask:after {
    display: block;
    content: "\e006";
    font-family: 'iconFont';
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: rgba(249, 253, 252, 0.5);
    text-align: center;
    line-height: 1;
    padding-top: 0.5em;
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1em;
    margin-left: -1em;
    color: #000000; }

.contentBlock a:hover .contentImageMask {
  opacity: 1; }
.contentBlock a:hover h2, .contentBlock a:hover blockquote {
  color: #000000; }
.contentBlock a:hover p {
  color: #000000; }

.contentCaption {
  padding-right: 3em;
  position: relative; }
  .contentCaption:after {
    display: block;
    content: "\e006";
    font-family: 'iconFont';
    color: #a1d9d4;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em; }

.quoteBlock a .contentCaption {
  background: #bce3e0; }
.quoteBlock a:hover .contentCaption {
  background: #dcf0ed; }
.quoteBlock .contentImage {
  width: 49%;
  padding-bottom: 0;
  min-height: 25em;
  float: right;
  margin-bottom: 0;
  background: none; }
  .quoteBlock .contentImage .contentImageSmall {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 1em;
    background-image: url('../images/placeholder2.jpg');
    overflow: hidden; }
    .quoteBlock .contentImage .contentImageSmall.one {
      margin-bottom: 1em; }
    .quoteBlock .contentImage .contentImageSmall.two {
      margin-bottom: 0; }
    .quoteBlock .contentImage .contentImageSmall.triangle {
      position: relative;
      z-index: 1; }
      .quoteBlock .contentImage .contentImageSmall.triangle:after, .quoteBlock .contentImage .contentImageSmall.triangle:before {
        position: absolute;
        top: 0;
        bottom: -20%;
        display: block;
        content: "";
        background: #f9fdfc; }
      .quoteBlock .contentImage .contentImageSmall.triangle:after {
        left: 0;
        right: 50%;
        -webkit-transform: rotate(26.5deg);
            -ms-transform: rotate(26.5deg);
                transform: rotate(26.5deg);
        -webkit-transform-origin: right top;
            -ms-transform-origin: right top;
                transform-origin: right top; }
      .quoteBlock .contentImage .contentImageSmall.triangle:before {
        left: 50%;
        right: 0;
        -webkit-transform: rotate(-26.5deg);
            -ms-transform: rotate(-26.5deg);
                transform: rotate(-26.5deg);
        -webkit-transform-origin: left top;
            -ms-transform-origin: left top;
                transform-origin: left top; }
    .quoteBlock .contentImage .contentImageSmall.circle {
      border-radius: 50%;
      overflow: hidden;
      background-image: url('../images/placeholder3.jpg'); }
  @media (max-width: 750px) {
    .quoteBlock .contentImage {
      display: none; } }
.quoteBlock .contentCaption {
  width: 49%;
  float: left;
  min-height: 40em;
  background: none;
  padding: 1em 2em;
  padding-right: 2em;
  padding-bottom: 5em;
  position: relative; }
  .quoteBlock .contentCaption:after {
    display: none; }
  .quoteBlock .contentCaption h3 {
    color: #000000; }
  @media (max-width: 750px) {
    .quoteBlock .contentCaption {
      width: 100%;
      min-height: 0;
      padding: 1em 1em 5em 1em; } }
.quoteBlock .clientLogo {
  width: 100%;
  padding-bottom: 3em;
  position: absolute;
  bottom: 1em;
  left: 0em;
  background-size: contain; }

.mapSettings {
  display: none; }

.mapCanvas {
  width: 100%;
  padding-bottom: 40%; }

.contactForm {
  padding: 2em 0; }
  .contactForm .button {
    display: block;
    width: 100%;
    color: #000000; }

.siteHeaderInner {
  padding: 0 0 1em 0; }

.siteHeader {
  font-weight: 500;
  line-height: 1;
  background: #f9fdfc;
  border-bottom: 2px solid #000000;
  position: relative; }
  .siteHeader a {
    text-decoration: none; }

.headerSocialLinks {
  display: block;
  width: 8em;
  float: left;
  position: relative;
  z-index: 2; }
  @media (max-width: 750px) {
    .headerSocialLinks {
      display: none; } }

.siteHeader .navLogo {
  width: 4em;
  text-align: right;
  float: right;
  font-family: 'BebasNeue', 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: 400;
  position: relative;
  z-index: 2;
  cursor: pointer; }

.siteHeader .headerNav {
  float: left;
  z-index: 1;
  position: absolute;
  width: 100%;
  padding: 0.55em 0 0 0;
  text-align: center; }
  @media (max-width: 750px) {
    .siteHeader .headerNav {
      display: none; } }
  .siteHeader .headerNav li {
    font-size: 0.9em;
    display: inline-block;
    margin: 0;
    padding: 0 0.5em;
    float: left;
    text-align: left;
    margin: 0 2em;
    font-style: normal;
    list-style: none;
    border-left: 0;
    float: none; }
    .siteHeader .headerNav li.current {
      position: relative; }
      .siteHeader .headerNav li.current:before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        height: 0.1em;
        width: 100%;
        background: #000000; }
      .siteHeader .headerNav li.current a {
        cursor: default;
        color: #000000; }
        .siteHeader .headerNav li.current a:hover {
          color: #000000; }

footer {
  background: #dcf0ed;
  margin-top: 4em; }

.footerInner {
  padding: 2em 0; }
  .footerInner h3 {
    font-size: 1.2em;
    padding-bottom: 1em; }
  .footerInner a {
    text-decoration: none; }
  .footerInner .footerBlock {
    font-size: 0.8em;
    line-height: 1.4em; }

.footerSocialLinks {
  display: block; }

.addressLine {
  display: block; }

.footerLink {
  display: block; }
  .footerLink a {
    font-family: 'Playfair Display', serif;
    font-style: italic; }

.footerStrip {
  background: #000000;
  color: #f9fdfc; }

.footerStripInner {
  position: relative;
  padding: 1em 0; }
  .footerStripInner span {
    display: block; }
  .footerStripInner .registered {
    width: 50%;
    float: left;
    padding-right: 2em;
    font-size: 0.8em; }
  .footerStripInner .footerLogo {
    width: 3em;
    height: 1.2em;
    position: absolute;
    top: 1em;
    left: 50%;
    margin-left: -1.5em;
    text-align: center;
    background-image: url("../images/dwmHat.png");
    background-image: url("../images/dwmHat.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .footerStripInner .copyright {
    text-align: right;
    width: 50%;
    float: right;
    padding-left: 2em;
    font-size: 0.8em; }

.workExamplesIntro {
  padding-top: 2em;
  margin-bottom: 1em; }
  .workExamplesIntro h1 {
    padding-bottom: 1em;
    padding-bottom: 1rem; }

.excerpt {
  font-size: 1.4em;
  padding: 1em 0;
  padding: 1rem 0; }

.workSingleHeroImage {
  padding-bottom: 40%; }

.singleWorkCaseStudy {
  padding: 2em 3em;
  background: #e5f4f2; }
  .singleWorkCaseStudy > div {
    padding-top: 2em; }

.relatedContent {
  margin-top: 6em; }

.singleWorkExample h3 {
  color: #bce3e0; }

.contactMapWrapper {
  width: 100%;
  margin-bottom: -4em;
  position: relative;
  height: 40em; }
  .contactMapWrapper .mapWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; }
    .contactMapWrapper .mapWrapper .mapCanvas {
      padding-bottom: 0;
      height: 40em; }
  .contactMapWrapper .contactIntroBlockInner {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    text-align: center; }

.contactMarker {
  width: 16em;
  height: 16em;
  background: #bce3e0;
  border-radius: 50% 50% 50% 0;
  overflow: hidden;
  margin: 5em auto 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%; }

.contactMarkerInner {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  padding-top: 2em; }
  .contactMarkerInner h1 {
    padding: 0 0.5em 0 0.5em;
    font-size: 2em; }

.contentWrapper.contact {
  position: relative;
  z-index: 4; }

.sidebarBlock {
  padding: 0 0 1em 0; }
  .sidebarBlock h3 {
    padding-bottom: 1em; }
  .sidebarBlock .addressline {
    display: block; }

.twitterFeed {
  background: #dcf0ed;
  padding: 1em;
  margin-top: 1em; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

