---
layout: default
---
<div class="contentWrapper">
    <div class="contentWrapperInner">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>

        <article class="post-content">

            <p>Need a website? Get in touch and we'll talk you through what we can do for you. Leave a message through the form below and we'll get right back to you, or use the contact info at the bottom of this page. We'd love to hear from you!</p>

            <form action="http://formspree.io/tom@wearedwm.com" method="POST">
                <input type="hidden" name="_next" value="{{ site.url }}/thanks/" />
                <input type="email" name="_replyto" placeholder="Your email address">
                <textarea name="body" rows="5" placeholder="Your message&hellip;"></textarea>
                <button class="button">Submit</button>
            </form>

            <!-- {{ content }} -->
            
            <h4><a href="mailto:{{ site.dwmEmail }}">{{ site.dwmEmail }}</a></h4>

            <h4><a href="tel:{{ site.dwmTelLink }}">{{ site.dwmTel }}</a></h4>

            <h4>
            {% for link in site.dwmAddress %}
                {{ link.text }}</br>
            {% endfor %}
            </h4>

        </article>

    </div>
</div>
