---
layout: default
---

<div class="contentImage workSingleHeroImage" style="background-image:url('{{ site.url }}assets/images/workImages/{{ page.heroimg }}');"></div>

<div class="contentWrapper">
    <div class="contentWrapperInner singleWorkExample">

        <h2>{{ page.client }}</h2>
        <h3>{{ page.subheading }}</h3>
        <p class="excerpt">{{ page.minidescription }}</p>
        <div class="singleWorkExampleContent columnedBlock">
            {{ content }}
        </div>
        
        <div class="relatedContent clearfix">
            
            {% if page.hasCaseStudy == true %}
                <article class="contentBlock singleWorkCaseStudy half left">
                    <h2>{{ page.caseStudyTitle }}</h2>
                    <h3>{{ page.caseStudySubHeading }}</h3>
                    <div class="columnedBlock">
                        {{ page.caseStudyBody }}
                    </div>
                </article>
            {% endif %}

            {% for post in site.categories["work"] %}
                {% if page.relatedto == post.relatedslug %}
                    <article class="contentBlock workExample half right">
                        <a href="{{ site.url }}{{ post.url }}">
                            <div class="contentImage" style="background-image:url('{{ site.url }}assets/images/workImages/{{ post.heroimg }}');">
                                <div class="contentImageMask"></div>
                            </div>

                            <div class="contentCaption">
                                <h2>{{ post.client }}</h2>
                                <h3>{{ post.subheading }}</h3>
                                <p>{{ post.minidescription }}</p>
                            </div>
                        </a>
                    </article>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</div>